body {
    font-family: sans-serif;
}

li {
    font-family: inherit;
}

h1 {
    color: blue;
    font-family: sans-serif;
}

code {
    font-family: monospace;
    color: red;
}

.li-second-code > code{
    color: green;
}

li + li {
    background-color: black;
    color: white;
}

li + li {
    background-color: black;
    color: white;
}